/ Right now this is only used on the side navigation bar
%li.link
  %h5
    = link_to "Main", root_path
- if !current_user
  %li.link
    %h5
      = link_to "Sign Up", new_user_path
  %li.link
    %h5
      = link_to "Login", sessions_new_path
- if current_user
  %li
    %h5
      = link_to "My Home", user_path(current_user)
  %li
    .h5
      = link_to "Edit Profile", edit_user_path(current_user)
  %br  
  - current_user.teams.each do |team|
    %li#dark
      %h4#dark
        = link_to "#{team.name}", team_path(team)
%br
%li
  %h5
    = link_to "Teams", teams_path
- if current_user && current_user.admin
  %li
    %h5
      = link_to "New Team", new_team_path
  %li
    %h5
      = link_to "New Site", new_site_path
%li
  %h5.dark
    = link_to 'Logout', logout_path, method: :delete

